# ------- Django Related Files

# ------- Project Releted Files
src/db/
src/staticfiles/
.venv/

# ------- Python Related Files
src/*.pyc
src/*/__pycache__/

# ------- IDE Related Files
.idea/

# ------- Git Related Files
.git/
.gitignore

# ------- Docker Related Files
DockerUtility/