# ------- Django Related Files

# ------- Project Releted Files
static_prod/
venv/
.venv/

# ------- Python Related Files
*.pyc
*/__pycache__/

# ------- IDE Related Files
.idea/

# ------- Git Related Files
.git/
.gitignore

# ------- Docker Related Files
Dockerfile
docker-compose.yml
.dockerignore