# ------- Django Related Files
*/migrations/*
!*/migrations/__init__.py

# ------- Project Releted Files
db.sqlite3
!static_prod/.dir
venv/

# ------- Python Related Files
*.pyc
*/__pycache__/

# ------- IDE Related Files
.idea/

# ------- Git Related Files
.git/