# ------- Django Related Files
trends/*/migrations/*
!trends/*/migrations/__init__.py

# ------- Project Releted Files
staticfiles/
mediafiles/
venv/

# ------- Python Related Files
*.pyc
*/__pycache__/

# ------- IDE Related Files
.idea/

# ------- Git Related Files
.git/